.backup-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.backup-box-items-buttons {
    display: flex;
    align-items: center;
    color: black;
}
.backup-buttons {
    padding: 10px;
    color: black;
    background-color: rgba(214, 214, 214, 0.322);
    outline: none;
    border: 1px solid rgb(255, 251, 0);
    border-radius: 8px;
}
.backup-buttons:hover {
    color: rgb(0, 134, 0);
    background-color: rgba(214, 214, 214, 0.322);
    border: 2px solid rgb(0, 0, 0);
}
.backup-box-items {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.install-backup-box {
    width: 80%;
    margin-top: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.install-backup-box b {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 26, 255);
}
.install-backup-box-input-field {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.install-backup-box-input-field textarea {
    width: 80%;
    background-color: rgb(44, 44, 44);
    color: rgb(60, 255, 0);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    resize: none;
    padding: 5px;
}
.install-backup-box-input-field button {
    width: 20%;
    max-width: 100px;
    background-color: rgb(35, 207, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}