/*popins*/@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.box-body-audio-list {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.596);
    color: rgb(232, 255, 255);
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 5px;
}
.audio-list-preview {
    padding: 5px;
    color: rgb(231, 231, 231);
    cursor: pointer;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(75, 75, 75);
    margin: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.audio-list-preview:hover {
    background-color: rgb(212, 212, 212);
    color: rgb(58, 58, 58);
    cursor: pointer;
}
.audio-list-preview b {
    font-weight: bolder;
}