.player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.player-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.player-box input {
    padding: 5px;
    background-color: rgb(110, 110, 110);
    color: aqua;
    border-radius: 5px;
}
.player-box input button {
    padding: 5px;
    background-color: rgb(160, 157, 157);
    color: aqua;
}
audio {
     box-shadow: 00 3px 15px rgb(255, 252, 237);
     border-radius: 50px;
}
audio::-webkit-media-controls-panel {
     background-image: linear-gradient(to right, red ,aqua);
     background-color: rgb(0, 255, 221);
     color: rgb(0, 0, 0);
}
audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: rgb(255, 238, 0);
     box-shadow: 00 3px 15px white;
     border-radius: 20px;
     color: rgb(0, 0, 0);
}
video {
     box-shadow: 00 3px 15px rgb(0, 255, 213);
     border-radius: 10px;
}
video::-webkit-media-controls-play-button,
     video::-webkit-media-controls-panel {
     border-radius: 50px;
     color: rgb(0, 0, 0);
}
video::-webkit-media-controls-panel {
     box-shadow: 00 3px 15px white;
     border-radius: 10px;
     color: rgb(0, 0, 0);
}